/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  background-color: transparent;
  color: #555;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  z-index: 15;
  bottom: 92%;
  width: fit-content;
  margin: auto;
}

.ts-layer {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 14;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
  visibility: visible;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#quadro {
  height: 75vh; 
}

#didascalia {
  width: fit-content;
  margin: 5px auto 0 auto;
}

@media only screen and (max-width: 375px) {
  .popuptext {
    bottom: 85%;
  }
  #quadro {
    height: 65vh;
  }
}