.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.near-black {
    color: #111;
}

.hover-silver:hover {
    color: #999;
}

.hover-silver:focus {
    color: #999;
}

.social {
    position: absolute;
    right: 3%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .social {
        right: 30px;
        top: 40px;
    }
}

@media only screen and (max-width: 375px) {
    .social {
        right: 18px;
        top: 27px;
        width: 1.5rem;
        height: 1.5rem;
    }
}
