.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.near-black {
    color: #111;
}

.hover-silver:hover {
    color: #999;
}

.hover-silver:focus {
    color: #999;
}

.social {
    position: relative;
    right: 5px;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

@media only screen and (max-width: 650px) {
    .social {
        right: 7.9%;
        top: 17px;
    }
}

@media only screen and (max-width: 414px) {
    .social {
        right: 7%;
        top: 13px;
        width: 1.6rem;
        height: 1.6rem;
    }
}

@media only screen and (max-width: 375px) {
    .social {
        right: 6.7%;
        top: 11px;
        width: 1.5rem;
        height: 1.5rem;
    }
}
