@media only screen and (max-width: 375px) {
	.worksinner {
		left: -710px!important;
		top: -395px;
	}
}

@media only screen and (max-width: 360px) {
	.worksinner {
		left: -720px!important;
		top: -395px;
	}
}

@media only screen and (max-width: 320px) {
	.worksinner {
		left: -737px!important;
		top: -395px;
	}
}