#root, html, body, div.primediv {
  margin: 0; 
  height: max-content;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
